<div class="container-fluid">
	<div class="row">
		<p>Dictiomanyトップ > </p>
		<div class="col-xs-9">

			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b>過去の通報</b></span><!-- <span class="font-30"></span> -->

					</div>
				</div>
			</div>



			<div class="panel panel-default">
				
				<div class="panel-body" style="padding-bottom: 0;">
					<p><%= render partial: "layouts/pagevalue", locals: {content: @reports} %></p>
					<table class="table table-default">
						<thead>
							<tr>
								<th>通報日</th>
								<th>対象コメント</th>
								<th>通報理由</th>
								<th>対処</th>
							</tr>
						</thead>
						<tbody>
							<% num = 0 %>
							<% @reports.each do |r| %>
							<% form_id_report = "report-form" + num.to_s %>
							<tr>
								<!-- find_byだと、idでなかった時にnoufoundじゃなくてnilになる -->
								<% if Comment.find_by(id: r.comment_id) %>
									<%= form_for(r, url: admins_report_path(r), :html => {id: form_id_report, class: "report_forms"}) do |f| %>
										<% comment = Comment.find_by(id: r.comment_id) %>
										<% m = Meaning.find(comment.meaning_id) %>
										<% w = Word.find(m.word_id) %>
										<% d = Diction.find(w.diction_id) %>
									<td>
										<%= r.created_at.strftime('%Y年%m月%d日') %>
									</td>
									<td><%= link_to comment.content, admins_diction_word_meaning_path(diction_id: d.id, word_id: w.id, id: m.id) %></td>
									<td><%= r.reason %></td>
									<td><%= f.select :deal, [["未対処", ""], ["保留中", "保留中"], ["削除済み", "削除済み"], ["問題なし", "問題なし"]], {}, :class => "report_select form-control" %><%= f.submit style: "display: none;", value: num, form: form_id_report, class: "submit_class_report" %>
									</td>
									<% end %>
								<% else %>
									<td>
										<%= r.created_at.strftime('%Y年%m月%d日')  %>
									</td>
									<td style="color: red;">削除されました</td>
									<td><%= r.reason %></td>
									<td style = "color: red">削除されました</td>
									</td>
								<% end %>
							</tr>
							<% num += 1 %>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<%= paginate @reports %>
				</div>
			</div>

		</div>
			
<%= render partial: "admins/layouts/sidebar" %>
	</div>
</div>

<script>
$(function() {
	$('.report_select').on('change', function() {
		$(this).next('.submit_class_report').click();
	});
});

</script>