<div class="container-fluid">
	<div class="row">
		<p>Dictiomanyトップ > <%= link_to "辞書", dictions_path %> > <%= link_to "単語", diction_path(@diction.id) %></p>
		<div class="col-xs-9">
			<div class="panel panel-info">
				<div class="panel-heading" style="font-size: 21px;">
					<%= @diction.name %>
					<button type="button" class="btn btn-default" data-toggle="modal" data-target="#new-word" data-backdrop="static">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
				<div class="panel-body" style="padding-bottom: 0;">
				</div>
				<table class="table table-default">
					<thead>
						<tr>
							<th>名前</th>
							<th>意味</th>
							<th>カテゴリー</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @words.each do |w| %>
						<tr>
							<td><%= link_to w.name, diction_word_path(diction_id: @diction.id, id: w.id) %></td>
							<td>
								<% if meaning_first = Meaning.where(word_id: w.id).first %>
								<%= link_to meaning_first.content, diction_word_meaning_path(diction_id: @diction.id, word_id: w.id, id: meaning_first.id) %>
								<% end %>
							</td>
							<td><%= w.category_parent %> / <%= w.category %></td>

						</tr>
						<% end %>
					</tbody>
				</table>
				<div class="panel-footer">
					<p>前の検索結果に戻る　ページネーション</p>
				</div>
			</div>

		</div>
			</div>
		</div>
	</div>
</div>

<%= render partial: "layouts/newword" %>