<div class="container-fluid">
	<div class="row">
		<p>Dictiomanyトップ > <%= link_to "辞書", dictions_path %> > <%= link_to "単語", diction_path(@diction.id) %></p>
		<div class="col-xs-9">

			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b><%= @diction.name %></b></span><span class="font-30"> の単語一覧</span>
						<% if @diction.user_id === current_user.id %>
							<button type="button" class="btn btn-default pluss" data-toggle="modal" data-target="#new-word" data-backdrop="static">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
							<% end %>

						<% favorite = FavoriteDiction.find_by(user_id: current_user.id, diction_id: @diction.id) %>
						<% if favorite.present? %>
							<%= link_to diction_favorite_path(diction_id: @diction.id, id: favorite.id), method: :delete do %>
								<button type="button" class="btn btn-danger pull-right" id="f-d-button-d" >お気に入りから削除</button>
							<% end %>
						<% else %>
							<%= link_to diction_favorites_path(@diction), method: :post do %>
								<button type="button" class="btn btn-warning pull-right" id="f-d-button-c">お気に入りに追加</button>
							<% end %>
						<% end %>

						<% if user_signed_in? %>
							<% if @diction.default_public_flg === false && @diction.user_id === current_user.id %>
								<!-- edit diction -->
								<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#edit-diction" data-backdrop="static">
									辞書を編集する
								</button>
								<p id="d_p_category" style="display: none"><%= @diction.category_parent %></p>
								<p id="d_category" style="display: none"><%= @diction.category %></p>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>



			<div class="panel panel-default">
				
				<div class="panel-body" style="padding-bottom: 0;">
					<table class="table table-default">
						<!-- <thead>
							<tr>
								<th>単語名</th>
								<th>意味</th>
								<th>カテゴリー</th>
								<th></th>
							</tr>
						</thead> -->
						<tbody>
							<% @words.each do |w| %>
							<tr>
								<td>単語名: <%= link_to w.name, diction_word_path(diction_id: @diction.id, id: w.id) %></td>
								<td>
									<% if meaning_first = Meaning.where(word_id: w.id).first %>
									意味： <%= link_to meaning_first.content, diction_word_meaning_path(diction_id: @diction.id, word_id: w.id, id: meaning_first.id) %>
									<% end %>
								</td>
								<td>カテゴリー： <%= w.category_parent %> / <%= w.category %></td>

							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<p>前の検索結果に戻る　ページネーション</p>
				</div>
			</div>

		</div>
			
<%= render partial: "layouts/sidebar" %>
	</div>
</div>

<%= render partial: "layouts/newword" %>
<%= render partial: "layouts/editdiction" %>