<% breadcrumb :words, @diction %>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-9">
			<%= render partial: "layouts/breadcrumbs" %>
			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b><i class="fas fa-book"></i> <%= @diction.name %></b></span><span class="font-30"> の単語一覧</span>
						<% if user_signed_in? %>
							<% if @diction.user_id === current_user.id %>
								<button type="button" class="btn btn-default pluss" data-toggle="modal" data-target="#new-word" data-backdrop="static">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							<% end %>

							<% favorite = FavoriteDiction.find_by(user_id: current_user.id, diction_id: @diction.id) %>
							<% if favorite.present? %>
								<%= link_to diction_favorite_path(diction_id: @diction.id, id: favorite.id), method: :delete do %>
									<button type="button" class="btn btn-danger pull-right button-margin-left" id="f-d-button-d" >お気に入りから削除</button>
								<% end %>
							<% else %>
								<%= link_to diction_favorites_path(@diction), method: :post do %>
									<button type="button" class="btn btn-warning pull-right button-margin-left" id="f-d-button-c">お気に入りに追加</button>
								<% end %>
							<% end %>


							<% if @diction.default_public_flg === false && @diction.user_id === current_user.id %>
								<!-- edit diction -->
								<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#edit-diction" data-backdrop="static">
									辞書を編集する
								</button>
								<p id="d_p_category" style="display: none"><%= @diction.category_parent %></p>
								<p id="d_category" style="display: none"><%= @diction.category %></p>
							<% end %>
						<% end %>
					</div>

					<div class="signup">
						<%= search_form_for(@search, url: diction_path(@diction)) do |f| %>
							<div class="col-xs-3">
								<!-- <select class="form-control" name="refine">
									<option value="all">すべてのカテゴリー</option>
								</select> -->
								<div class="btn-group hierarchy-select" data-resize="auto" id="refine-category">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="selected-label pull-left">&nbsp;</span>
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>

									<!-- 絞り込み用のカテゴリ選択フォーム　検索してカテゴリ選択もできる -->
									<div class="dropdown-menu open">
										<div class="hs-searchbox">
											<input type="text" class="form-control" autocomplete="off">
										</div>
										<p style="display: none;" id="d-refine-select-set"><%= @c_selected %></p>
										<ul class="dropdown-menu inner" role="menu" id="search-category-select">
											<li data-value="" data-level="1" data-default-selected="" class="category-select-refine">
												<a href="#">すべてのカテゴリー</a>
											</li>
											<% @parents.zip(@category_all).each do |cp, ca| %>
												<li data-value=<%= cp %> data-level="1" class="category-select-refine">
													<a href="#"><%= cp %></a>
												</li>
												<% ca.each do |a| %>
													<li data-value=<%= a %> data-level="2" class="category-select-refine">
														<a href="#"><%= a %></a>
													</li>
												<% end %>
											<% end %>
										</ul>
									</div>
									<input class="hidden hidden-field" name="refine_category" readonly="readonly" aria-hidden="true" type="text"/>
								</div>
							</div>

							<div class= "input-group col-xs-9">
							<%= f.search_field :name_or_kana_or_category_parent_or_category_cont, class: "form-control search-field" %>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default search-submit-button">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</span>
							</div>

						<% end %>
					</div>

				</div>
			</div>



			<div class="panel panel-default">
				
				<div class="panel-body" style="padding-bottom: 0;">
					<p>
						<b>" <%= @search_content %> "</b> の検索結果
						<%= @words.total_count %>件中 <%= @words.offset_value %>～<%= @words.offset_value + @words.length %>件を表示しています
						<%= sort_link(@search, :category) do %>
						<button type="button" class="btn btn-default pull-right sort-button">カテゴリー順</button>
						<% end %>
						<%= sort_link(@search, :kana) do %>
						<button type="button" class="btn btn-default pull-right sort-button">五十音順</button>
						<% end %>
						<%= sort_link(@search, :id) do %>
						<button type="button" class="btn btn-default pull-right sort-button">投稿順</button>
						<% end %>
					</p>
					<table class="table table-default">
						<thead>
							<tr>
								<th>単語名</th>
								<th>意味</th>
								<th>カテゴリー</th>
							</tr>
						</thead>
						<tbody>
							<% @words.each do |w| %>
							<tr>
								<td><%= link_to w.name, diction_word_path(diction_id: @diction.id, id: w.id) %><span style="color: grey;">（<%= w.kana %>）</span></td>
								<td>
									<% if meaning_first = Meaning.where(word_id: w.id).first %>
									<%= link_to meaning_first.content, diction_word_meaning_path(diction_id: @diction.id, word_id: w.id, id: meaning_first.id) %>
									<% end %>
								</td>
								<td><%= w.category_parent %> / <%= w.category %></td>

							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<% if @words.count < 25 %>
						<nav>
						    <ul class="pagination">
						    	<li class="page-item active">
						    		<a href="#" >1</a>
						    	</li>
						    </ul>
						</nav>
					<% else %>
						<%= paginate @words %>
					<% end %>
				</div>
			</div>

		</div>
			
<%= render partial: "layouts/sidebar" %>
	</div>
</div>

<%= render partial: "layouts/newword" %>
<%= render partial: "layouts/editdiction" %>


<script>
	// カテゴリの絞り込み用セレクトボックスの初期値の設定
	var value = $('#d-refine-select-set').text();
	// console.log(value);
	var c = $(`.category-select-refine[data-value='${value}']`).html();
	// console.log(c);
	$('.category-select-refine[data-value=\'\']').removeAttr("data-default-selected");
	$(`.category-select-refine[data-value='${value}']`).attr('data-default-selected', "");

</script>