<% breadcrumb :publics %>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-9 col-xs-12">
			<%= render partial: "layouts/breadcrumbs" %>
			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b><i class="fas fa-globe"></i> 単語検索</b></span><br class="visible-xs-block" ><span class="font-30" style="color: grey;">　現在公開中の単語から検索します</span>
						<!-- <button type="button" class="btn btn-default pluss" data-toggle="modal" data-target="#new-word" data-backdrop="static">
							<span class="glyphicon glyphicon-plus"></span>
						</button> -->
					</div>

					<div class="signup">
						<%= search_form_for(@search, url: publics_path(@public_words)) do |f| %>
							<div class="col-lg-3 col-xs-12 pull-button-cate">
								<!-- <select class="form-control" name="refine">
									<option value="all">すべてのカテゴリー</option>
								</select> -->
								<div class="btn-group hierarchy-select" data-resize="auto" id="refine-category">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										<span class="selected-label pull-left">&nbsp;</span>
										<span class="caret"></span>
										<span class="sr-only">Toggle Dropdown</span>
									</button>

									<!-- 絞り込み用のカテゴリ選択フォーム　検索してカテゴリ選択もできる -->
									<div class="dropdown-menu open">
										<div class="hs-searchbox">
											<input type="text" class="form-control" autocomplete="off">
										</div>
										<p style="display: none;" id="p-refine-select-set"><%= @c_selected %></p>
										<ul class="dropdown-menu inner" role="menu" id="search-category-select">
											<li data-value="" data-level="1" data-default-selected="" class="category-select-refine">
												<a href="#">すべてのカテゴリー</a>
											</li>
											<% @parents.zip(@category_all).each do |cp, ca| %>
												<li data-value=<%= cp %> data-level="1" class="category-select-refine">
													<a href="#"><%= cp %></a>
												</li>
												<% ca.each do |a| %>
													<li data-value=<%= a %> data-level="2" class="category-select-refine">
														<a href="#"><%= a %></a>
													</li>
												<% end %>
											<% end %>
										</ul>
									</div>
									<input class="hidden hidden-field" name="refine_category" readonly="readonly" aria-hidden="true" type="text"/>
								</div>
							</div>

							<div class= "input-group col-lg-9 col-xs-12">
							<%= f.search_field :name_or_kana_or_category_parent_or_category_cont, class: "form-control search-field" %>
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default search-submit-button">
									<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
								</button>
							</span>
							</div>

						<% end %>
					</div>

				</div>
			</div>



			<div class="panel panel-default">
				
				<div class="panel-body" style="padding-bottom: 0;">

					<p>
						<% if @search_sign === "search_index" %>
							<b>" <%= @search_content %> "</b> から始まる単語の検索結果
						<% elsif @search_sign === "search_category" %>
							<b>" <%= @search_content %> "</b> カテゴリーの検索結果
						<% else %>
							<b>" <%= @search_content %> "</b> の検索結果
						<% end %>
						<%= @public_words.total_count %>件中 <%= @public_words.offset_value %>～<%= @public_words.offset_value + @public_words.length %>件を表示しています
						<br class="visible-xs-block" >

						<%= sort_link(@search, :category) do %>
						<button type="button" class="btn btn-default pull-right sort-button">カテゴリー順</button>
						<% end %>
						<%= sort_link(@search, :kana) do %>
						<button type="button" class="btn btn-default pull-right sort-button">五十音順</button>
						<% end %>
						<%= sort_link(@search, :id) do %>
						<button type="button" class="btn btn-default pull-right sort-button">投稿順</button>
						<% end %>
					</p>

					<table class="table table-default">

						<tbody>
							<% @public_words.each do |w| %>
							<tr>
								<td>単語名: <%= link_to w.name, public_path(w.id) %></td>
								<td class="hidden-xs">
									<% if meaning_first = Meaning.where(word_name: w.name, word_kana: w.kana, word_category_parent: w.category_parent, word_category: w.category).first %>
									意味： <%= link_to meaning_first.content, mean_path(public_id: w.id, id: meaning_first.id) %>
									<% end %>
								</td>
								<td>カテゴリー： <%= w.category_parent %> / <%= w.category %></td>
								<td  class="hidden-xs"><% w_hit = Hit.where(public_id: w.id) %><i class="fas fa-eye"></i> <%= w_hit.count %></td>

							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<% if @public_words.count < 25 %>
						<nav>
						    <ul class="pagination">
						    	<li class="page-item active">
						    		<a href="#" >1</a>
						    	</li>
						    </ul>
						</nav>
					<% else %>
						<%= paginate @public_words %>
					<% end %>
				</div>
			</div>

		</div>
			
<%= render partial: "layouts/sidebar" %>
	</div>
</div>

<script>
	// カテゴリの絞り込み用セレクトボックスの初期値の設定
	var value = $('#p-refine-select-set').text();
	// console.log(value);
	var c = $(`.category-select-refine[data-value='${value}']`).html();
	// console.log(c);
	$('.category-select-refine[data-value=\'\']').removeAttr("data-default-selected");
	$(`.category-select-refine[data-value='${value}']`).attr('data-default-selected', "");

</script>