

<div class="container-fluid">
	<div class="row">
		<p>Dictiomanyトップ > <%= link_to "辞書", dictions_path %> ></p>
		<div class="col-xs-9">

			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b>パブリック辞書</b></span><span class="font-30"> の単語一覧</span>
						<button type="button" class="btn btn-default pluss" data-toggle="modal" data-target="#new-word" data-backdrop="static">
							<span class="glyphicon glyphicon-plus"></span>
						</button>



					</div>
				</div>
			</div>



			<div class="panel panel-default">
				
				<div class="panel-body" style="padding-bottom: 0;">
					<table class="table table-default">

						<tbody>
							<% @public_words.each do |w| %>
							<tr>
								<td>単語名: <%= link_to w.name, public_path(w.id) %></td>
								<td>
									<% if meaning_first = Meaning.where(word_name: w.name, word_kana: w.kana, word_category_parent: w.category_parent, word_category: w.category).first %>
									意味： <%= meaning_first.content %>
									<% end %>
								</td>
								<td>カテゴリー： <%= w.category_parent %> / <%= w.category %></td>

							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<p>前の検索結果に戻る　ページネーション</p>
				</div>
			</div>

		</div>
			
<%= render partial: "layouts/sidebar" %>
	</div>
</div>