<!DOCTYPE html>
<html>
  <head>
    <title>Dictiomany</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script><!--javascriptより前に置く-->
    <%= javascript_include_tag 'application' %>
    <script src="/assets/jquery.upload_thumbs.js"></script>
    <!-- push通知 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/push.js/0.0.11/push.min.js"></script>
    <!-- 検索用のセレクトボックスでカテゴリを階層表示とボックス内で検索選択 -->
    <script src="/assets/hierarchy-select.min.js"></script>
    <link rel="stylesheet" href="/assets/pygments.css">
    <link rel="stylesheet" href="/assets/hierarchy-select.min.css">
    <!-- fontawasome -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <!--gon-->
    <%= include_gon %>
  </head>

  <body>
    <header id="header">
    	<nav class="navbar navbar-default navbar-fixed-top">
    		<div class="container-fluid">
	    		<div class="navbar-header">
	    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
	    				<span class="sr-only">Toggle navigation</span>
	    				<span class="icon-bar"></span>
	    				<span class="icon-bar"></span>
	    				<span class="icon-bar"></span>
	    			</button>
	    				<%= link_to "Dictiomany", admins_dictions_path, class: "navbar-brand", style: "font-size: 35px;" %>
	    		</div>

	    		<div class="collapse navbar-collapse" id="navbar1">
	    			<ul class="nav navbar-nav">
	    				<li class="active">
	    					<a href="">メニュー１</a>
	    				</li>
	    				<li>
	    					<button type="button" class="btn btn-default btn-lg" >
	    						<span class="glyphicon glyphicon-user" %></span>
	    					</button>
	    				</li>
	    				<li>
	    					<button type="button" class="btn btn-default btn-lg" >
	    						<span class="glyphicon glyphicon-book" %></span>
	    					</button>
	    				</li>
	    				<li>
	    					<button type="button" class="btn btn-default btn-lg" >
	    						<span class="glyphicon glyphicon-star" %></span>
	    					</button>
	    				</li>
	    				<li>
	    					<div class="dropdown">
	    					<button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" >
	    						<span class="glyphicon glyphicon-cog" %></span>
	    					</button>
	    					<ul class="dropdown-menu" role="menu">
	    						<li role="presentation"><a href="">アカウント情報の編集</a></li>
	    						<li role="presentation"><a href=""></a></li>
	    						<li role="presentation"><a href=""></a></li>
	    						<li role="presentation"><a href="">お問い合わせ</a></li>
	    					</ul>
	    					</div>
	    				</li>
	    				<% if admin_signed_in? %>
	    				<li><button type="button" class="btn btn-default btn-lg" >
	    						<span class="glyphicon glyphicon-book" %></span>
	    						<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
	    					</button>
	    				</li>
	    				<li><%= link_to admins_admin_path(current_admin.id) do %>
	    					<button type="button" class="btn btn-default btn-lg" >
	    						<span class="glyphicon glyphicon-user" %></span>
	    						マイページ
	    					</button>
	    					<% end %>
	    				</li>
	    				<% end %>
	    			</ul>
	    		</div>
	    	</div>
    	</nav>
    </header>



    <%= yield %>


    <footer>
    	<div class="container">
    		<p class="text-muted text-center">diction@</p>
    	</div>
    </footer>
  </body>
</html>
