<div class="container-fluid">
	<div class="row">
		<p>Dictiomanyトップ > ユーザー > マイページ</p>
		<div class="col-xs-9">

			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b>マイページ</b></span><span class="font-30"></span>

						<% if user_signed_in? %>
							<% if @user.id === current_user.id %>
								<!-- edit diction -->
								<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#edit_user" data-backdrop="static">
									アカウント情報を編集する
								</button>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>




			<div class="panel panel-default">

				<div class="panel-body" style="padding-bottom: 0;">

					<div>
					<!--タブ-->
						<ul class="nav nav-tabs">
							<li class="active"><a href="#user_content1" data-toggle="tab">マイ辞書</a></li>
							<li><a href="#user_content2" data-toggle="tab">お気に入りの辞書</a></li>
							<li><a href="#user_content3" data-toggle="tab">お気に入りの単語・意味</a></li>
							<li><a href="#user_content4" data-toggle="tab">公開中の単語・意味</a></li>
						</ul>

						<!--タブの内容-->
						<div class="tab-content">
							<div class="tab-pane active" id="user_content1">
								<div class="panel panel-default">
									<div class="panel-body" style="padding-bottom: 0;">
										<!-- <p></p> -->
										<table class="table table-default">
											<thead>
												<tr>
													<th>名前</th>
													<th>カテゴリー</th>
													<th>ユーザ名</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<% @my_dictions.each do |d| %>
												<tr>
													<td><i class="fas fa-book"></i> <%= link_to d.name, diction_path(d) %></td>
													<td><%= d.category_parent %> / <%= d.category %></td>
													<td>
														<% user_name = User.find(d.user_id) %>
														<i class="fas fa-user"></i> <%= user_name.name %>
													</td>
													<td>
														<% favo = FavoriteDiction.where(diction_id: d.id) %>
														<i class="fas fa-star"></i> <%= favo.count %>
													</td>
												</tr>
												<% end %>
											</tbody>
										</table>
									</div>
								</div>

								<!--<% @my_dictions.each do |m| %>
									<%= link_to diction_path(m) do %>
									<div class="col-xs-2">
										<div class="center-block">
											<%= image_tag "img/book_image2.png", :class => "book-image" %>
										</div>
										<h5 class="text-center font-normal"><%= m.name %></h5>
									</div>
									<% end %>
								<% end %>-->

							</div>

							<div class="tab-pane" id="user_content2">
								<div class="panel panel-default">
									<!-- <div class="panel-heading">
										<p>辞書検索</p>
									</div> -->
									<div class="panel-body" style="padding-bottom: 0;">
										<!-- <p></p> -->
										<table class="table table-default">
											<thead>
												<tr>
													<th>名前</th>
													<th>カテゴリー</th>
													<th>ユーザ名</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<% @my_favorite_dictions.each do |d| %>
												<tr>
													<td><i class="fas fa-book"></i> <%= link_to d.name, diction_path(d) %></td>
													<td><%= d.category_parent %> / <%= d.category %></td>
													<td>
														<% user_name = User.find(d.user_id) %>
														<i class="fas fa-user"></i> <%= user_name.name %>
													</td>
													<td>
														<% favo = FavoriteDiction.where(diction_id: d.id) %>
														<i class="fas fa-star"></i> <%= favo.count %>
													</td>
												</tr>
												<% end %>
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="tab-pane" id="user_content3">
								<div class="panel panel-default">
									<div class="panel-body" style="padding-bottom: 0;">
										<!-- <p></p> -->
										<table class="table table-default">
											<thead>
												<tr>
													<th>名前</th>
													<th>カテゴリー</th>
													<th>意味</th>
													<th>アカウント名</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<% @my_favorite_meanings.each do |m| %>
												<% w = Word.find(m.word_id) %>
												<% d = Diction.find(w.diction_id) %>
												<% if d.public_flg === true %>
													<tr>
														<td>
															<% if p = Public.find_by(name: w.name, kana: w.kana, category_parent: w.category_parent, category: w.category) %>
																<%= link_to w.name, public_path(p.id) %>
															<% else %>
																<%= link_to w.name, diction_word_path(diction_id: d.id, id: w.id) %>
															<% end %>
														</td>
														<td><%= w.category_parent %> / <%= w.category %></td>
														<td>
															<% if p = Public.find_by(name: w.name, kana: w.kana, category_parent: w.category_parent, category: w.category) %>
																<%= link_to w.name, mean_path(public_id: p.id, id: m.id) %>
															<% else %>
																<%= link_to m.content, diction_word_meaning_path(diction_id: d.id, word_id: w.id, id: m.id) %>
															<% end %>
														</td>
														<td>
															<% user_name = User.find(d.user_id) %>
															<i class="fas fa-user"></i> <%= user_name.name %>
														</td>
														<td>
															<% favo = FavoriteMeaning.where(meaning_id: m.id) %>
															<i class="fas fa-star"></i> <%= favo.count %>
															<% come = Comment.where(meaning_id: m.id).count %>
															　　<i class="fas fa-comment"></i> <%= come %>
														</td>
													</tr>
													<% end %>
												<% end %>
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="tab-pane" id="user_content4">
								<div class="panel panel-default">
									<div class="panel-body" style="padding-bottom: 0;">
										<!-- <p></p> -->
										<table class="table table-default">
											<thead>
												<tr>
													<th>名前</th>
													<th>カテゴリー</th>
													<th>意味</th>
													<th>アカウント名</th>
													<th></th>
												</tr>
											</thead>
											<tbody>
												<% @my_public_meanings.each do |m| %>
												<% w = Word.find(m.word_id) %>
												<% d = Diction.find(w.diction_id) %>
													<tr>
														<td>
																<%= link_to w.name, diction_word_meaning_path(diction_id: d.id, word_id: w.id, id: m.id) %>
														</td>
														<td><%= w.category_parent %> / <%= w.category %></td>
														<td><%= link_to m.content, diction_word_meaning_path(diction_id: d.id, word_id: w.id, id: m.id) %></td>
														<td>
															<% user_name = User.find(d.user_id) %>
															<i class="fas fa-user"></i> <%= user_name.name %>
														</td>
														<td>
															<% favo = FavoriteMeaning.where(meaning_id: m.id) %>
															<i class="fas fa-star"></i> <%= favo.count %>
															<% come = Comment.where(meaning_id: m.id).count %>
															　　<i class="fas fa-comment"></i> <%= come %>
														</td>
													</tr>
												<% end %>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>

<%= render partial: "layouts/sidebar" %>


	</div>
</div>

<%= render partial: "layouts/edituser" %>



