<div class="container-fluid">
	<div class="row">
		<p>Dictiomanyトップ > ユーザー > マイページ</p>
		<div class="col-xs-9">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h2>マイページ</h2>
				</div>
				<div class="panel-body" style="padding-bottom: 0;">

					<div>
					<!--タブ-->
						<ul class="nav nav-tabs">
							<li class="active"><a href="#user_content1" data-toggle="tab">マイ辞書</a></li>
							<li><a href="#user_content2" data-toggle="tab">お気に入り</a></li>
							<li><a href="#user_content3" data-toggle="tab">アカウント設定</a></li>
						</ul>

						<!--タブの内容-->
						<div class="tab-content">
							<div class="tab-pane active" id="user_content1">
								<h4>マイ辞書</h4>

								<% @my_dictions.each do |m| %>
									<%= link_to diction_path(m) do %>
									<div class="col-xs-2">
										<div class="center-block">
											<%= image_tag "img/book_image2.png", :class => "book-image" %>
										</div>
										<h5 class="text-center"><%= m.name %></h5>
									</div>
									<% end %>
								<% end %>











							</div>
							<div class="tab-pane" id="user_content2">
								<P>tabu2</P>
							</div>
							<div class="tab-pane" id="user_content3">
								<h3>tabu3</h3>

							</div>
						</div>
					</div>

				</div>

				<div class="panel-footer">
					<p>前の検索結果に戻る　ページネーション</p>
				</div>
			</div>

		</div>


		<div class="panel panel-default col-xs-3">
			<div class="panel-body col-xs-12">
				<div class="">
					<%= link_to dictions_path do %>
					<%= attachment_image_tag @user, :image, format: "png", fallback: "img/acount_image1.png", :class => "acount_image center-block" %>
					<% end %>
					<h3 class="text-center"><%= current_user.name %></h3>
					<h4 class="user_word text-center"><%= @user.user_word %></h4>
				</div>

				<div class="list-group">
					<a href="" class="list-group-item" data-toggle="modal" data-target="#edit_user" data-backdrop="static"><span class="glyphicon glyphicon-user" %></span>　アカウント情報の編集</a>
					<a href="" class="list-group-item"></a>
					<a href="" class="list-group-item">お問い合わせ</a>
					<%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => "list-group-item" %>
				</div>
			</div>
		</div>


	</div>
</div>

<%= render partial: "layouts/edituser" %>



