<div class="container-fluid">
	<div class="row">
		<p>Dictiomanyトップ > </p>
		<div class="col-xs-9">

			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b>過去のお問い合わせ</b></span><!-- <span class="font-30"></span> -->

								<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#new-contact" data-backdrop="static">
									お問い合わせをする
								</button>
					</div>
				</div>
			</div>



			<div class="panel panel-default">
				
				<div class="panel-body" style="padding-bottom: 0;">
					<table class="table table-default">
						<thead>
							<tr>
								<th>お問い合わせ日</th>
								<th>題名</th>
								<th>内容</th>
								<th>返信</th>
							</tr>
						</thead>
						<tbody>
							<% @contacts.each do |c| %>
							<tr>
								<td><%= link_to c.created_at.strftime('%Y年%m月%d日') ,user_contact_path(user_id: current_user.id, id: c.id) %></td>
								<td><%= c.title %></td>
								<td><%= c.content %></td>
								<% if c.reply.present? %>
									<td style="color: red;">あり（詳細ページをご覧ください）</td>
								<% else %>
									<td>なし</td>
								<% end %>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<div class="panel-footer">
					<p>前の検索結果に戻る　ページネーション</p>
				</div>
			</div>

		</div>
			
<%= render partial: "layouts/sidebar" %>
	</div>
</div>

<%= render partial: "layouts/newcontact" %>