<% breadcrumb :contact, @user, @contact %>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-9">
			<%= render partial: "layouts/breadcrumbs" %>
			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b>お問い合わせの詳細</b></span><!-- <span class="font-30"></span> -->

						<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#new-contact" data-backdrop="static">
							お問い合わせをする
						</button>

					</div>
				</div>
			</div>



			<div class="panel panel-default">

				<div class="panel-body" style="padding-bottom: 20px;">
					<p class="font-30"><b>題名： <%= @contact.title %></b></p>
					<% c_user = User.find(@contact.user_id) %>
					<p class="font-21" style="color: grey;"><b>アカウント名： <i class="fas fa-user"></i> <%= c_user.name %>　お問い合わせ日： <%= @contact.created_at.strftime('%Y年%m月%d日') %></b></p>
					<hr>
					<div class="font-21"><b>内容： <%= @contact.content %></b></div>
				</div>
				
			</div>

			<div class="panel panel-default">

				<div class="panel-body" style="padding-bottom: 20px;">
					<p class="font-30"><b>返信</b></p>
					<% c_user = User.find(@contact.user_id) %>
					<p class="font-21" style="color: grey;"><b>返信日： 
						<% if @contact.reply.present? %>
							<%= @contact.updated_at.strftime('%Y年%m月%d日') %>
						<% else %>
							<span>まだ未返信です。もうしばらくお待ちください。</span>
						<% end %>
						</b></p>
					<hr>
					<div>
							<div class="font-21"><b>返信内容： <%= @contact.reply %></b></div>

					</div>
				</div>
				
			</div>

		</div>
			
<%= render partial: "layouts/sidebar" %>
	</div>
</div>


<%= render partial: "layouts/newcontact" %>