<% breadcrumb :admin_contact, @side_user, @contact %>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-9">
			<%= render partial: "layouts/breadcrumbs" %>
			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b>お問い合わせの詳細</b></span><!-- <span class="font-30"></span> -->

					</div>
				</div>
			</div>



			<div class="panel panel-default">

				<div class="panel-body" style="padding-bottom: 20px;">
					<p class="font-30"><b>題名： <%= @contact.title %></b></p>
					<% c_user = User.find(@contact.user_id) %>
					<p class="font-21" style="color: grey;"><b>アカウント名： <i class="fas fa-user"></i> <%= c_user.name %>　お問い合わせ日： <%= @contact.created_at.strftime('%Y年%m月%d日') %></b></p>
					<hr>
					<div class="font-21"><b>内容： <%= @contact.content %></b></div>
				</div>
				
			</div>

			<div class="panel panel-default">

				<div class="panel-body" style="padding-bottom: 20px;">
					<p class="font-30"><b>返信</b></p>
					<% c_user = User.find(@contact.user_id) %>
					<p class="font-21" style="color: grey;"><b>返信日： 
						<% if @contact.reply.present? %>
							<%= @contact.updated_at.strftime('%Y年%m月%d日') %>
						<% else %>
							<span style="color: red;">まだ未返信です</span>
						<% end %>
						</b></p>
					<hr>
					<div>
						<% unless @contact.reply.present? %>
							<%= form_for(@contact, url: admins_user_contact_path(c_user)) do |f| %>
								<%= f.text_area :reply, class: "form-control reply-textarea" %>
							<div class="signup">
								<%= f.submit class:"btn btn-primary", value: "返信する", data: {disable_with: "送信中..."} %>
							</div>
							<% end %>
						<% else %>
							<div class="font-21"><b>返信内容： <%= @contact.reply %></b></div>
						<% end %>
					</div>
				</div>
				
			</div>

		</div>
			
<%= render partial: "admins/layouts/sidebar" %>
	</div>
</div>
