<div class="container-fluid">
	<div class="row">
		<p>Dictiomanyトップ > <%= link_to "辞書", admins_dictions_path %> >  コメント</p>
		<div class="col-xs-9">

			<div class="panel panel-default">
				<!-- <div class="panel-heading">
					
				</div> -->
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b><%= @public.name %></b></span><span class="font-30"> の意味</span>
						<!-- <button type="button" class="btn btn-default pluss" data-toggle="modal" data-target="#new-comment" data-backdrop="static">
							<span class="glyphicon glyphicon-plus"></span>
						</button> -->


					</div>
					<div class="signup ">
						<% user_name = User.find(@diction.user_id) %>
						<p class="font-21">
							<span class="label label-warning" style="padding: 6px 10px;"><b>主な意味</b></span>
							<b> <%= @p_meaning.content %></b>（ <i class="fas fa-user"></i> <%= user_name.name %> さんの投稿）

						</p>
					</div>
				</div>
				<!-- <div class="panel-footer">

				</div> -->
			</div>


			<div class="panel panel-default">

				<div class="panel-body" style="padding-bottom: 0;">
					<table class="table table-default">
						<!-- <thead>
							<tr>
								<th>投稿日</th>
								<th>コメント</th>
								<th>ユーザ名</th>
								<th></th>
							</tr>
						</thead> -->
						<tbody>
							<% @p_comments.each do |c| %>
							<tr class="comment-list">
								<td><%= c.created_at.strftime('%Y年%m月%d日') %></td>
								<td>コメント： <%= c.content %></td>
								<td>
									<% user = User.find(c.user.id) %>
									<i class="fas fa-user"></i> <%= user.name %>
								</td>
								<td>
									<div class="dropdown">
				    					<button type="button" class="btn btn-default btn-xs dropdown-toggle" id="down-icon" data-toggle="dropdown" >
				    						<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
				    					</button>
				    					<ul class="dropdown-menu" role="menu">
				    							<li role="presentation"><%= link_to "コメントを削除する", admins_diction_word_meaning_comment_path(diction_id: @diction.id, word_id: @word.id, meaning_id: @p_meaning.id, id:c.id), method: :delete, class: "comment-destroy" %></li>
				    					</ul>
				    				</div>
								</td>
							</tr>
							<% end %>
						</tbody>
					</table>
				</div>
				<!-- <div class="panel-footer">
					<p>前の検索結果に戻る　ページネーション</p>
				</div> -->
			</div>

		</div>
			
		

<%= render partial: "admins/layouts/sidebar" %>


	</div>
</div>


