<!-- モーダル・ダイアログ -->
<!-- word -->
<div class="modal fade" id="edit-word" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>✖</span></button>
				<h4 class="modal-title">Edit Word</h4>
			</div>
			<div class="modal-body newform-body">
				<% editword = @word.id %>
				<%= form_for(@word, url: diction_word_path(diction_id: @diction.id, id: editword.id, html: {:class => "form-group"}) do |f| %>

				<!-- 名前 -->
				<div>
					<%= f.label "名前", {class: "form-label"} %>
					<%= f.text_field :name, class: "form-control", id: "edit_word_name", required:true %>
				</div>

				<!-- フリガナ -->
				<div class="signup">
					<%= f.label "フリガナ", {class: "form-label"} %>
					<%= f.text_field :kana, class: "form-control", id: "edit_word_kana", required:true %>
				</div>

				<!-- カテゴリ -->
				<div class="signup">
					<%= f.label "カテゴリー（大）", {class: "form-label"} %>
					<div style="width: 30%;">
						<select name="category_parent" id="word_parent_edit" class="form-control" required><!--selectにrequiredでoptionのvalue=""は拒否される-->
								<option value="">----------</option>
								<% @parents.each do |p| %>
								<option value=<%= p %>><%= p %></option>
								<% end %>
						</select>
					</div>
				</div>

				<div class="signup clearfix">
					<%= f.label "カテゴリー（小）", {class: "form-label"} %>
					<div style="width: 30%;">
						<select name="category" id="word_child_edit" class="form-control col-xs-3" required>
							<option value="">----------</option>
						</select>
					</div>

					<%= link_to diction_word_path(diction_id: @diction.id, id: @word.id), method: :delete do %>
						<button type="button" class="btn btn-danger pull-right" id= "w-destroy-button">
							単語を削除する
						</button>
					<% end %>
				</div>

			</div>
			<div class="modal-footer row newform-footer">
				<div class="col-xs-9">
					<%= f.submit "変更する", class: "btn btn-primary form-control", data: {disable_with: "変更中..."} %>
				</div>
				<div class="col-xs-3" >
					<button type="button" class="btn btn-default form-control" data-dismiss="modal">閉じる</button>
				</div>

				<% end %>
				<!-- <button type="button" class="btn btn-primary">ボタン</button -->

			</div>

		</div>
	</div>
</div>

<script>
	var categories = {};
			//optionのvalue:#childに行く配列のリスト
			categories['金融'] = gon.categories1;
			categories['建設・不動産'] = gon.categories2;
			categories['物流・運送'] = gon.categories3;
			categories['IT・メディア'] = gon.categories4;
			categories['エネルギー・資源'] = gon.categories5;
			categories['自動車・機械'] = gon.categories6;
			categories['電機・精密'] = gon.categories7;
			categories['食品'] = gon.categories8;
			categories['小売・卸'] = gon.categories9;
			categories['生活関連'] = gon.categories10;
			categories['衣料・装飾'] = gon.categories11;
			categories['サービス'] = gon.categories12;
			categories['飲食'] = gon.categories13;
			categories['娯楽・レジャー'] = gon.categories14;

	var category_parent = document.getElementById('w_p_category'),
		category = document.getElementById('w_category'),
		parent = category_parent.textContent,
		child = category.textContent;

	$('#word_parent_edit').val(parent);


	var item = categories[parent];//リストから配列を取得

	var option;
	for(var i = 0; i < item.length; i++){
		option = '<option value=' + item[i] + '>' + item[i] + '</option>';
		$('#word_child_edit').append(option);
	}

	$('#word_child_edit').val(child);

</script>
