<!-- モーダル・ダイアログ -->
<!-- お問い合わせ -->
<div class="modal fade" id="new-contact" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>✖</span></button>
				<h4 class="modal-title">新規お問い合わせフォーム</h4>
			</div>
			<div class="modal-body newform-body">
				<%= form_for(@new_contact, url:user_contacts_path(user_id: current_user.id), html: {:class => "form-group"}) do |f| %>

				<!-- 題名 -->
				<div>
					<%= f.label "題名", {class: "form-label"} %>
					<%= f.text_field :title, class: "form-control", required:true %>
				</div>

				<!-- 内容 -->
				<div class="signup">
					<%= f.label "お問い合わせの内容", {class: "form-label"} %>
					<%= f.text_area :content, class: "form-control contact-textarea", required:true %>
				</div>

			</div>
			<div class="modal-footer row newform-footer">
				<div class="col-xs-9">
					<%= f.submit "送信する", class: "btn btn-primary form-control", data: {disable_with: "送信中..."} %>
				</div>
				<div class="col-xs-3" >
					<button type="button" class="btn btn-default form-control" data-dismiss="modal">閉じる</button>
				</div>

				<% end %>
				<!-- <button type="button" class="btn btn-primary">ボタン</button -->

			</div>

		</div>
	</div>
</div>



