<!-- word -->
<div class="modal fade" id="p-meaning" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>✖</span></button>
				<h4 class="modal-title">New Meaning</h4>
			</div>
			<div class="modal-body newform-body">
				<%= form_for(@new_public_word, url: publics_path, mothod: "post", html: {:class => "form-group"}) do |f| %>
				<div class=" p-none">
					<%= f.label "名前", {class: "form-label"} %>
					<%= f.text_field :name, class: "form-control p-none", required:true, value: @public.name %>
					<p id="p_name"><%= @public.name %></p>
				</div>

				<div class="signup p-none">
					<%= f.label "フリガナ", {class: "form-label"} %>
					<%= f.text_field :kana, class: "form-control p-none", required:true, value: @public.kana %>
					<p id="p_kana"><%= @public.kana %></p>
				</div>

				<%= f.fields_for :meanings do |m| %>
				<div class="signup">
					<%= m.label "意味", {class: "form-label"} %>
					<%= m.text_field :content, class: "form-control", required:true %>
				</div>
				<% end %>


				<div class="signup p-none">
					<%= f.label "カテゴリー（大）", {class: "form-label"} %>
					<div style="width: 30%;">
						<select name="category_parent" id="parent_public_s" class="form-control p-none" required value="<%= @public.category_parent %>">
								<option value="">----------</option>
								<% @parents.each do |p| %>
								<option value=<%= p %>><%= p %></option>
								<% end %>
						</select>
						<p id="p_p_category"><%= @public.category_parent %></p>
					</div>
				</div>
				<div class="signup p-none">
					<%= f.label "カテゴリー（小）", {class: "form-label"} %>
					<div style="width: 30%;">
						<select name="category" id="child_public_s" class="form-control p-none" required value="<%= @public.category %>">
							<option value="">----------</option>
						</select>
						<p id="p_category"><%= @public.category %></p>
					</div>
				</div>

			</div>
			<div class="modal-footer row newform-footer">
				<div class="col-xs-9">
					<%= f.submit "投稿する", class: "btn btn-primary form-control", data: {disable_with: "投稿中..."} %>
				</div>
				<div class="col-xs-3" >
					<button type="button" class="btn btn-default form-control" data-dismiss="modal">閉じる</button>
				</div>

				<% end %>
				<!-- <button type="button" class="btn btn-primary">ボタン</button -->
			</div>

		</div>
	</div>
</div>

<script>
	var categories = {};
			//optionのvalue:#childに行く配列のリスト
			categories['金融'] = gon.categories1;
			categories['建設・不動産'] = gon.categories2;
			categories['物流・運送'] = gon.categories3;
			categories['IT・メディア'] = gon.categories4;
			categories['エネルギー・資源'] = gon.categories5;
			categories['自動車・機械'] = gon.categories6;
			categories['電機・精密'] = gon.categories7;
			categories['食品'] = gon.categories8;
			categories['小売・卸'] = gon.categories9;
			categories['生活関連'] = gon.categories10;
			categories['衣料・装飾'] = gon.categories11;
			categories['サービス'] = gon.categories12;
			categories['飲食'] = gon.categories13;
			categories['娯楽・レジャー'] = gon.categories14;

	var category_parent = document.getElementById('p_p_category'),
		category = document.getElementById('p_category'),
		parent = category_parent.textContent,
		child = category.textContent;

	$('#parent_public_s').val(parent);


	var item = categories[parent];//リストから配列を取得

	var option;
	for(var i = 0; i < item.length; i++){
		option = '<option value=' + item[i] + '>' + item[i] + '</option>';
		$('#child_public_s').append(option);
	}

	$('#child_public_s').val(child);

</script>