
<div class="col-xs-3" style="margin-top: 7px;">
<% if user_signed_in? %>
	<div class="panel panel-default col-xs-12">
			<div class="panel-body col-xs-12">
				<div class="">
					<%= link_to user_path(@side_user) do %>
					<%= attachment_image_tag @side_user, :image, format: "png", fallback: "img/acount_image1.png", :class => "acount_image center-block" %>
					<% end %>
					<h3 class="text-center font-45"><%= @side_user.name %></h3>
					<h4 class="user_word text-center"><%= @side_user.user_word %></h4>
				</div>

				<% if @side_user === current_user %>
				<div class="list-group">
					<a href="" class="list-group-item" data-toggle="modal" data-target="#edit_user" data-backdrop="static">
						<i class="fas fa-user-edit"></i>　アカウント情報の編集
					</a>
					<%= link_to user_hits_path(user_id: @side_user.id), class: "list-group-item" do %>
						<i class="fas fa-eye"></i>　閲覧履歴
					<% end %>
					<%= link_to user_contacts_path(user_id: @side_user.id), class: "list-group-item" do %>
						<i class="fas fa-envelope"></i>　お問い合わせ
					<% end %>
					<%= link_to destroy_user_session_path, method: :delete, :class => "list-group-item" do %>
						<i class="fas fa-sign-out-alt"></i>　ログアウト
					<% end %>
				</div>
				<% end %>
			</div>
	</div>
<%= render partial: "layouts/edituser" %>
<% end %>
	<div class="panel panel-default col-xs-12">
			<div class="panel-body col-xs-12">
				<p class="font-21 text-center"><b>アクセスランキング</b></p>
				<div class="list-group">
					<% num = 1 %>
					<% @hit_ranks.each do |k, v| %>
						<% h = Public.find(k) %>
						<p class= "list-group-item"><b><%= num %>. <%= link_to h.name, public_path(h) %></b></p>
						<% num += 1 %>
					<% end %>
				</div>

				<p class="font-21 text-center"><b>お気に入りランキング</b></p>
				<div class="list-group">
					<% num = 1 %>
					<% @favo_ranks.each do |k, v| %>
						<% h = Public.find_by(name: k.name, kana: k.kana, category_parent: k.category_parent, category: k.category) %>
						<p class= "list-group-item"><b><%= num %>. <%= link_to h.name, public_path(h) %></b></p>
						<% num += 1 %>
					<% end %>
				</div>
			</div>
	</div>


</div>
